{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="card m-2">
        <div class="card-header text-center">
            <div class="row">
                <div class="col-md-2 text-center"><img class="img-fluid" src="{{ product.icon.url }}" /></div>
                <div class="col-md-10"><a href="{{product.url}}" target="_blank"><h1>{{product.title}}</h1></a></div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-8 text-center"><img class="img-fluid" src="{{ product.image.url }}" /></div>
                <div class="col-md-4"><a href="javascript:{document.getElementById('upvote').submit()}"><button class="btn btn-primary btn-lg btn-block"><span class="oi oi-caret-top"></span> Upvote {{product.votes_total}}</button></a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4"><h4><span class="oi oi-magnifying-glass"></span> Hunted by {{product.hunter}}</h4></div>
                <div class="col-md-4 text-right"><h4><span class="oi oi-clock"></span> {{product.pub_date_pretty}}</h4></div>
            </div>
            <div class="row">
                <div class="col-md-8"><p>{{product.body}}</p></div>
            </div>
        </div>

        <form id="upvote" method="POST" action="{% url 'upvote' product.id %}">
            {% csrf_token %}
            <input type="hidden" />
        </form>
    </div>
</div>



{% endblock %}